* {
  margin: 0;
  padding: 0;
}

.body {
  font-family: "Roboto", sans-serif;
  font-family: "Raleway", sans-serif;
}
.nav-logo {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-left: 215px;
}
.logo-footer {
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  letter-spacing: 0.03em;
  text-decoration: none;
}
.nav-agency {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
}
.nav-portfolio {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.nav-contact {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
  text-decoration: none;
}
.nav-mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
  text-decoration: none;
  margin-left: 371px;
  margin-right: 50px;
}
.nav-phone {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
  text-decoration: none;
}
.motto {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  position: absolute;
  color: #ffffff;
  height: 120px;
  width: 696px;
  left: 452px;
  top: 280px;
  border-radius: nullpx;
}
.container-motto {
  width: 1600px;
  height: 600px;
  left: 0px;
  top: 80px;
  background-image: url(/images/backgroun.jpg);
}
.button {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  color: #ffffff;
  position: absolute;
  width: 200px;
  height: 50px;
  left: 700px;
  top: 430px;
  border: none;
  margin-top: 30px;

  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.lorem-ipsum {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.container-lorem-ipsum {
  margin: 94px 215px 94px 215px;
}
.lorem-ipsum-icon {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  background-color: #f5f4fa;
}
.lorem-ipsum-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  width: 270px;
  height: 101px;
}
.duties {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}
.container-duties {
  width: 1170px;
  margin: 94px 215px;
}
.list-duties {
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 30px;
}
/* NASZ ZESPÓŁ */
.container-team {
  width: 1600px;
  margin-left: 215px;
  margin-right: 215px;
  background-color: rgba(245, 244, 250, 1);
}
.team {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.list-team {
  list-style: none;
  text-decoration: none;
  display: flex;
  margin-left: 215px;
  gap: 30px;
}

.nav-agency-portfolio {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #212121;
}
.nav-portfolio-portfolio {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #2196f3;
}
.nav-portfolio-mail {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: #757575;
}
.portfolio-menu {
  cursor: pointer;
  font-weight: 500;
  border-radius: 4px;
  border-style: none;
  margin-right: 8px;
  height: 38px;
  padding-left: 22px;
  padding-right: 22px;
  font-family: "Roboto";
  font-weight: 500;
  line-height: 1.625;
  letter-spacing: 0.03em;
  font-size: 16px;
}
.portfolio-menu:hover {
  background-color: rgba(33, 150, 243, 1);
}
.portfolio-menu-container {
  width: 1200px;
  left: 215px;
  top: 174px;
  margin-top: 94px;
  margin-left: 215px;
}
.buttons-portfolio-menu {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 8px;
  padding-bottom: 34px;
}
.portfolio-img {
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
  flex-wrap: wrap;
  gap: 30px;
}
.figcaption-name {
  margin-top: 30px;
}
.figcaption-role {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: #757575;
  margin-top: 10px;
}
.figcaption-box {
  border: 1px solid rgba(238, 238, 238, 1);
  margin: 0px;
  padding: 0px;
}
.list {
  list-style: none;
  text-decoration: none;
  display: flex;
  margin-top: 32px;
}
.list-lorem {
  list-style: none;
  text-decoration: none;
  display: flex;
  gap: 30px;
}
.nav-list-item:not(:last-child) {
  margin-right: 41px;
}
.portfolio-figcaption-name {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: #212121;
  padding: 0px 20px;
}
.portfolio-figcaption-role {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: #757575;
  padding: 0px 20px;
}

.container {
  width: 1600px;
  display: flex;
}
.container-portfolio {
  width: 1600px;
  display: flex;
  border: 1px solid #ececec;
}
.header {
  display: flex;
}
.team-member {
  width: 270px;
  height: 368px;
  text-align: center;
  background-color: white;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.img-team {
  width: 270px;
  height: 260px;
  height: auto;
  display: block;
}
.container-footer {
  height: 252px;
  width: 1600px;
  background: #2f303a;
  display: flex;
}
.footer-list {
  height: 81px;
  width: 246px;
  border-radius: nullpx;
  display: flex;
  margin-left: 215px;
  margin-top: 60px;
  margin-bottom: 20px;
  list-style: none;
  text-decoration: none;
  flex-direction: column;
}
.nav-mail-footer {
  list-style: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.nav-phone-footer {
  list-style: none;
  text-decoration: none;
  color: rgba(255, 255, 255, 0.6);
}
.adress-footer {
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin-top: 20px;
}
.mail-phone {
  padding-top: 9px;
}
